@import '../../commons/variables.scss';
@import '../../commons/mixins.scss';

.messages {
    padding: 40px 20px 30px 20px;
    max-height: 651px;
    overflow: scroll;
    overflow-x: hidden;
    width: $width;
    max-width: 651px;
    margin: $mc;
    border-bottom: $textAreaBorder;

    .data {
        text-align: center;
        font-size: 14px;
        line-height: 24px;
        margin-top: 20px;
        margin-bottom: 16px;

        &__title {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .data:before,
    .data:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: $width;
        height: 1px;
        background-color: $dataColor;
        position: relative;
    }

    .data:before {
        margin-left: -100%;
        left: -30px;
    }

    .data:after {
        margin-right: -100%;
        right: -30px;
    }
}