/* fonts */
$mainFont: 'Roboto', sans-serif;

/* general */
$wrapper: 2600px;
$container: 1305px;
$mc: 0 auto;
$marginBottom: 10px;

/* colors */
$headerFooterColor: #c4c4c4;


$background-color: #b8860b;
$background-color--hover: #dda20d;
$border-radius: 5px;
$button-font-size: 16px;
$color-font--white: #fff;
$font-weight--bold: 700;
$text-align--center: center;
$transition: 0.2s linear;
$cursor: pointer;
