@import '../../commons/variables.scss';
@import '../../commons/mixins.scss';

.chat {
    @include flex(column, center, flex-start);
    background-image: url(../../assets/images/background.png);
    background-size: cover;
    min-height: 100vh;
    width: $width;

    .chat-container {
        max-width: 651px;
        width: $width;
        margin: $mc;
        padding: 0 20px;
    }

    &__message-field {
        background: #FFFFFF;
        border: $textAreaBorder;
        border-radius: 4px;
        max-width: 590px;
        width: 100%;
        min-height: 129px;
        margin-top: 20px;
        padding: 10px;
        color: $textArea;
        resize: none;
        font-family: $NotoSans;

        &:focus {
            outline: none;
        }
    }

    &__bth-submit {
        background: $buttonSubmitColor;
        box-shadow: $buttonSubmitShadow;
        border-radius: 21px;
        max-width: 144px;
        width: 100%;
        min-height: 41px;
        color: #fff;
        margin-top: 20px;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 30px;
        font-family: $ProximaNova;
        font-weight: $fw700;

        &:hover {
            background: $buttonSubmitColor--hover;
            box-shadow: $buttonSubmitShadow--hover;
            transition: $transition;
        }
    }
}