@import '../../commons/media-breakpoints.scss';

@include mobile {
    .home-container {
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-flow: row dense;
  
      &_bottom {
        .home-container__block {
  
          &:nth-child(1) {
            order: 2;
          }
  
          &:nth-child(2) {
            order: 4;
          }
  
          &:nth-child(3) {
            order: 5;
          }
  
          &:nth-child(4) {
            order: 1;
          }
  
          &:nth-child(5) {
            order: 3;
          }
        }
      }
    }
  
    .home-container-square,
    .block-container {
      gap: 10px;
    }
  }
  
  
  @media(max-width: 480px) {
    .home-container-square {
      display: none;
    }
  
    .block-container_top {
      display: none;
    }
  
  }
  
  @media(min-width: 481px) {
    .block-container_bottom {
      display: none;
    }

  }

