@import '../../commons/variables.scss';
@import '../../commons/mixins.scss';

.home {
  overflow: hidden;
}

.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  &_bottom {
    grid-template-columns: 1fr 1fr;
  }

  &__block {
    @include flex(row, flex-start, flex-end);
    min-height: 155px;
    position: relative;

    &_grey {
      background-color: $backgroundColor--grey;

      &:nth-child(3) {
        grid-column: span 2;
      }
    }

    &_blue {
      background-color: $backgroundColor--blue;
    }

    &_yellow {
      background-color: $backgroundColor--yellow
    }

    &_peach {
      background-color: $backgroundColor--peach;

      &:nth-child(1) {
        grid-column: span 2;
      }
    }

    &_red {
      background-color: $backgroundColor--red;
    }

    &_violet {
      background-color: $backgroundColor--violet
    }
  }
}

.home-container-square {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6px;
  grid-template-areas: "two one one" "three one one";
  margin: 10px 0px;
  margin-right: -10px;
}

.home-container-square__block {
  grid-area: one;
  width: $width;
  padding-top: $width;
  background-color: #A2A9B7;
  font-size: 18px;
  padding: 15px 30px 15px 15px;
  height: 211px;
  min-height: $width;
  min-width: $width;
  font-weight: $fw400;
  overflow-x: hidden;
  overflow-y: auto;

  &_background {
    background-color: $backgroundColor;
  }

  ul li,
ol li {
  list-style: none;
}

ol li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

li div:nth-child(2) {
  flex: 1 0;
  border-bottom: 2px dotted #000;
}

li div {
  margin-left: 10px;
  margin-bottom: 30px;
}

}

.home-container-square__block-small {
  grid-area: two;
  width: $width;
  padding-top: $width;
  background-color: #A2A9B7;
  position: relative;

  &_grid-area {
    grid-area: three;
  }

  &_background {
    background-color: $backgroundColor;
  }

  &_background-image {
    background: url(../../assets/images/staff-background.png) no-repeat;
    background-size: cover;
    min-width: $width;
    color: $fontWhiteColor;

    &:hover {
      filter: blur(5px);
      transition: 0.3s ease;
    }
  }
}

.block-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6px;
  grid-template-areas: "one one two two" "one one three three";
  margin: 10px 0px;
  margin-right: -10px;
}

h4 {
  position: absolute;
  font-weight: 400;
  bottom: 15px;
  left: 15px;
}