.message {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
  .message--user-1 + .message--user-2,
  .message--user-2 + .message--user-1 {
    margin-top: 20px;
  }
  .message--user-1 + .message--user-1,
  .message--user-2 + .message--user-2 {
    margin-top: 20px;
  }
  
  .message__text {
    padding: 10px 15px;
    border-radius: 10px;
    background: #F1F3F5;
    border-radius: 5px;
    max-width: 470px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
  
  .message--user-2 {
    justify-content: flex-end;
  }

  .message--user-2 img {
    order: 1;
    margin-left: 18px;
  }


 