.message {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .message--user-1 + .message--user-2,
  .message--user-2 + .message--user-1 {
    margin-top: 1em;
  }
  .message--user-1 + .message--user-1,
  .message--user-2 + .message--user-2 {
    margin-top: .5em;
  }
  
  .message__text {
    padding: 10px;
    border-radius: 10px;
    background: #F1F3F5;
    border-radius: 5px;
    max-width: 470px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }

  .message--user-1 img {
    order: 0;
    margin-right: 18px;
  }


